/*#4DB6AC/#64DD17/#34ab00*/
.mod-previous-rounds {
  background: url(/assets/img/calendar.png) no-repeat center top #252525;
}
.mod-previous-rounds .box {
  color: inherit;
  display: block;
}
.mod-previous-rounds .box-content {
  padding-top: 180px;
}
.mod-previous-rounds .desc {
  padding: 0 15px 15px;
}
