@import '../../css/base';

.mod-footer {
	background: $darkgray;
	color: #a1a1a1;
	padding-bottom: 20px;

	.top-bar {
		border-bottom: 1px solid #434343;
		overflow: hidden;
		padding: 28px 0;
	}
		.logo {
			display: block;
			float: left;
			margin-right: 30px;
		}
		.social {
			float: left;
			padding-top: 12px;
		}
			.icon {
				background: url(../img/social.png) 0 0 no-repeat transparent;
				float: left;
				height: 20px;
				margin-right: 10px;
				text-indent: -9999px;
				width: 19px;
			}
			.facebook {
				background-position: -19px 0;
			}
			.gplus {
				background-position: -38px 0;
			}
			.pinterest {
				background-position: -57px 0;
			}
			.rss {
				background-position: -76px 0;
			}
		.copy {
			float: left;
			font-size: 12px;
			line-height: 12px;
			padding-top: 20px;
		}
	.section {
		padding-bottom: 20px;
	}
		.section-title {
			color: #fff;
			font-size: 18px;
			font-weight: normal;
			line-height: 18px;
			text-transform: uppercase;
		}
	.footer-link {
		color: #a1a1a1;
		float: left;
		font-size: 14px;
		line-height: 14px;
		margin-right: 10px;
		padding-top: 2px;
	}
	.footer-link:hover {
		color: #fff;
	}
}

/* Small */
@media only screen and (max-width: 640px) {
	.mod-footer {

		.footer-link {
			line-height: 30px;
		}
	}
}