/*#4DB6AC/#64DD17/#34ab00*/
.mod-last-round {
  background: url(../img/last.png) no-repeat center top #252525;
}
.mod-last-round .main {
  color: yellow;
  padding: 100px 30px 40px 0;
  text-align: right;
}
.mod-last-round .big {
  font-size: 32px;
  line-height: 36px;
}
