<div class="mod-account">
	<div class="container">
		<div class="page">
			<h1 class="page-title">Your Account</h1>

			<div class="account-info">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-sm-offset-1">
						<div class="text-center">
							<p>
								<img class="img-responsive center-block" src="/assets/img/fpo/demo-account.png" alt="Account" height="120" width="120">
							</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-4">
						<div><strong>Francisco X. Alvarez</strong></div>
						<p class="small">emailaddress@email.com</p>
						<!-- <div><input type="email" class="form-control" id="email" value="youremail@email.com"></div> -->
						<a href="#" class="btn btn-primary btn-block">Update Information</a>
						<hr/>
						<p class="strong">Notifications</p>
						<div class="checkbox">
							<label for="1">
								<input id="1" type="checkbox" checked="checked"> Notify me when a new draw starts.
							</label>
						</div>
						<div class="checkbox">
							<label for="2">
								<input id="2" type="checkbox" checked="checked"> Notify me when a new draw ends.
							</label>
						</div>
						<div class="checkbox">
							<label for="3">
								<input id="3" type="checkbox" checked="checked"> Notify me when there's group updates.
							</label>
						</div>
						<hr/>
						<a href="#" class="btn btn-danger btn-block">Log Out</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>