<div class="mod-buy">
	<div class="container">
		<div class="page">
			<h1 class="page-title">Buy Tickets</h1>

			<div class="form-wrap">
				<div class="form">
					<div class="panel-heading">
						<div><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<div class="clearfix">
									<img class="img-responsive pull-left" src="http://placehold.it/100x70">
									<h4 class="product-name"><strong>Lucky Ticket</strong></h4>
									<h4><small>Your best investment</small></h4>
								</div>
								<hr class="visible-xs-block">
							</div>
							<div class="col-xs-12 col-sm-6">
								<div class="row">
									<div class="col-xs-4 col-md-offset-2">
										<strong>$1.00</strong>
									</div>
									<div class="col-xs-2">
										<span class="text-muted">x</span>
									</div>
									<div class="col-xs-6 col-md-4">
										<input type="text" class="form-control input-sm" value="10">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<div class="row text-right">
							<div class="col-xs-12">
								<button class="btn btn-primary pull-right" type="button">
									Checkout
								</button>
								<div class="pull-right total-text">Total <strong>$10.00</strong></div>
							</div>
						</div>
					</div>
				</div>

				<p class="strong">Disclaimer</p>
				<p class="copy">Nullam vehicula, arcu eget congue venenatis, neque risus finibus elit, at vulputate ligula lectus sit amet orci. Sed vitae lorem enim.</p>
				<p class="copy">Aenean sed sagittis leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi sit amet lectus ultricies, tincidunt felis eu, rhoncus lorem. Nunc ultrices elementum quam, eget tristique ex ultricies eget. Vivamus cursus accumsan leo et tempus. Donec condimentum luctus cursus. Nulla convallis, ligula vel viverra faucibus, orci arcu placerat ipsum, sit amet ultrices risus nisi eu libero. Quisque eu ullamcorper ipsum. Pellentesque quis faucibus libero. Integer blandit erat non justo efficitur, id rutrum est ullamcorper. Maecenas id varius nisi. Nullam sodales laoreet tellus vel egestas. Pellentesque laoreet blandit orci.</p>
			</div>
		</div>
	</div>
</div>