@import '../../css/base';

.mod-current-round {
	background: url(../img/notes.png) no-repeat center top $darkgray;

	.main {
		color: $yellow;
		padding: 100px 30px 40px 0;
		text-align: right;
	}
		.big {
			font-size: 32px;
			line-height: 36px;
		}
}