/*#4DB6AC/#64DD17/#34ab00*/
.mod-last-round {
  background: url(/assets/img/last.png) no-repeat center top #252525;
}
.mod-last-round .main {
  color: yellow;
  padding: 100px 30px 40px 0;
  text-align: right;
}
.mod-last-round .main-animate {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  float: right;
}
.mod-last-round .big {
  font-size: 32px;
  line-height: 36px;
}
.mod-last-round:hover .main-animate, .mod-last-round:focus .main-animate, .mod-last-round:active .main-animate {
  -ms-transform: scale(1.8, 1.8) translate(-30px, -20px);
  -webkit-transform: scale(1.8, 1.8) translate(-30px, -20px);
  transform: scale(1.8, 1.8) translate(-30px, -20px);
}
