/*#4DB6AC/#64DD17/#34ab00*/
.mod-results .list-group-item {
  height: auto;
}
.mod-results .result-label {
  line-height: 24px;
}
.mod-results .glyphicon {
  font-size: 12px;
  line-height: 24px;
}
.mod-results mark {
  font-size: 26px;
  line-height: 48px;
  display: block;
  padding: 0 15px;
  text-align: center;
}
