/*#4DB6AC/#64DD17/#34ab00*/
.mod-results .list-group-item {
  line-height: 48px;
  overflow: hidden;
}
.mod-results .label {
  color: #000;
  display: block;
  text-align: left;
}
.mod-results mark {
  font-size: 26px;
  margin: 0 auto;
  padding: 0 15px;
}
