@import '../../css/base';

.mod-results {
	.list-group-item {
		height: auto;
	}
	.result-label {
		line-height: $mediumline;
	}
		.glyphicon {
			font-size: $small;
			line-height: $mediumline;
		}
	mark {
		@include largefont;
		display: block;
		padding: 0 $pad;
		text-align: center;
	}
}