@import '../../css/base';

.mod-results {
	.list-group-item {
		line-height: $largeline;
		overflow: hidden;
	}
	.label {
		color: #000;
		display: block;
		text-align: left;
	}
	mark {
		font-size: $large;
		margin: 0 auto;
		padding: 0 $pad;
	}
}