/*#4DB6AC/#64DD17/#34ab00*/
.mod-header {
  background: #252525;
  padding: 40px 0;
  position: relative;
  z-index: 3;
  /* Small */
}
@media only screen and (max-width: 640px) {
  .mod-header {
    padding: 20px 0;
  }
}
.mod-header .logo {
  display: block;
  float: left;
  /*Medium*/
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .mod-header .logo {
    padding-bottom: 20px;
  }
}
.mod-header .menu-trigger {
  cursor: pointer;
  display: none;
  float: right;
  height: 48px;
  width: 48px;
  /* Small */
}
@media only screen and (max-width: 640px) {
  .mod-header .menu-trigger {
    display: block;
  }
}
.mod-header #main-nav-check:checked + .nav {
  max-height: 600px;
}
.mod-header .nav {
  -webkit-transition: max-height 500ms ease-out;
  -moz-transition: max-height 500ms ease-out;
  -o-transition: max-height 500ms ease-out;
  transition: max-height 500ms ease-out;
  float: right;
  /* Small */
  /*Medium*/
}
@media only screen and (max-width: 640px) {
  .mod-header .nav {
    max-height: 0px;
    overflow: hidden;
    width: 100%;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .mod-header .nav {
    float: left;
    width: 100%;
  }
}
.mod-header .nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  /* Small */
}
@media only screen and (max-width: 640px) {
  .mod-header .nav-menu {
    padding: 20px 0 0 0;
  }
}
.mod-header .nav-item {
  float: left;
  position: relative;
  /* Small */
}
@media only screen and (max-width: 640px) {
  .mod-header .nav-item {
    float: none;
    padding-bottom: 10px;
  }
}
.mod-header .nav-item:hover .nav-link {
  border-color: transparent;
  opacity: 1;
}
.mod-header #home .home .nav-link,
.mod-header #how .how .nav-link,
.mod-header #results .results .nav-link {
  border-color: #fff;
  cursor: default;
  opacity: 1;
}
.mod-header .nav-link {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-bottom: 4px solid transparent;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 30px;
  margin-left: 30px;
  opacity: 0.6;
  position: relative;
  text-transform: uppercase;
  /* Small */
  /*Medium*/
}
@media only screen and (max-width: 640px) {
  .mod-header .nav-link {
    margin: 0;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .mod-header .nav-link {
    margin: 0 30px 0 0;
  }
}
