@import '../../css/base';

.mod-purchase {
	background: url(../img/tickets.png) no-repeat center top $darkgray;

	.box {
		color: inherit;
		display: block;
	}
		.box-content {
			padding-top: 180px;
		}
			.desc {
				padding: 0 $pad $pad;
			}
}
