/*#4DB6AC/#64DD17/#34ab00*/
.mod-buy .form-wrap {
  padding-bottom: 50px;
}
.mod-buy .form {
  margin-bottom: 20px;
}
.mod-buy .img-responsive {
  margin-right: 10px;
}
.mod-buy .total-text {
  line-height: 34px;
}
.mod-buy .btn-primary {
  margin-left: 10px;
}
.mod-buy .copy {
  font-size: 12px;
}
