@import '../../css/base';

.mod-buy {

	.form-wrap {
		padding-bottom: 50px;
	}
		.form {
			@include mb;
		}
			.img-responsive {
				margin-right: $space;
			}
			.total-text {
				line-height: 34px;
			}
			.btn-primary {
				margin-left: $space;
			}
			.copy {
				font-size: $small;
			}
}